{% extends 'base.twig' %}

{% block content %}
		<section class="section blurb wrapper">
			<h1 class="large-heading">
				Volcanic Pixels is home to a plethora of <a href="/index.php/articles/">articles</a> and <a href="/index.php/projects/">projects</a> hand crafted by <a href="http://lkd.to/danielchatfield">Daniel Chatfield</a>. Take a gander.
			</h1>
		</section>
		<section class="section links social-links">
			<div class="center wrapper">
				<a href="http://twitter.com/danielchatfield" class="block-link">Twitter</a>
				<a href="https://plus.google.com/u/0/106544411206967134597/posts" class="block-link">Google+</a>
				<a href="http://facebook.com/chatfielddaniel" class="block-link">Facebook</a>
				<a href="http://github.com/volcanicpixels" class="block-link">Github</a>
			</div>
		</section>
{% endblock content %}